{% extends 'baseLayout.html' %}
{% load static %}

{% block content %}

	<div class="container" style="margin-top: 100px; margin-bottom: 100px;">
		<div class="row">

			<div class="col-md-6 mb-4 mb-md-0">
		
				<div id="mdb-lightbox-ui"></div>
				<div class="mdb-lightbox">
					<div class="row product-gallery mx-1">
		
						<div class="col-12 mb-0">

							<figure class="view overlay rounded z-depth-1 main-img shadow-sm p-3 mb-5 bg-white rounded">
								<a href="{{prod.Img.url}}" data-size="710x823">
									<img src="{{prod.Img.url}}" class="img-fluid z-depth-1">
								</a>
							</figure>

							<div class="shadow-sm p-3 mb-5 bg-white rounded">
								<div class="container card-deck" style="justify-content: center; margin: auto;">
		
									{% if prod.Img1 %}
									<div class="card">
										<a href="{{prod.Img1.url}}" style="color: black; justify-content: center; margin: auto;">
											<img src="{{prod.Img1.url}}" class="card-img-top" alt="..." style="width: 100px; height: 100px;">
										</a>
									</div>
									{% endif %}
									{% if prod.Img2 %}
									<div class="card">
										<a href="{{prod.Img2.url}}" style="color: black; justify-content: center; margin: auto;">
											<img src="{{prod.Img2.url}}" class="card-img-top" alt="..." style="width: 100px; height: 100px;">
										</a>
									</div>
									{% endif %}
									{% if prod.Img3 %}
									<div class="card">
										<a href="{{prod.Img3.url}}" style="color: black; justify-content: center; margin: auto;">
											<img src="{{prod.Img3.url}}" class="card-img-top" alt="..." style="width: 100px; height: 100px;">
										</a>
									</div>
									{% endif %}

								</div>
							</div>
					
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-6">
		
				<h5>{{ prod.Title }}</h5>
				<p><span class="mr-1"><strong>{% if prod.Prix1 %}{{ prod.Prix1 }}{% endif %}</strong></span></p>
				<p class="pt-1">{{ prod.Description | safe }}</p><hr>

			</div>
				
		</div>
  	</div>



{% endblock %}
